# Lab | Comparing regression models

For this lab, we will be using the same dataset we used in the previous labs. Load the cleaned categorical and numerical dataframes that you saved at the end of Monday's labs.

In [1]:
import pandas as pd
import numpy as np

In [2]:
numerical = pd.read_csv('../lab-cleaning-numerical-data/files_for_lab/numerical.csv')
categorical = pd.read_csv('../lab-cleaning-numerical-data/files_for_lab/categorical.csv')

In [3]:
categorical

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy,sales_channel,vehicle_size,Day,Week,Month
0,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate,Agent,Medsize,24,8,2
1,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal,Agent,Medsize,31,5,1
2,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal,Agent,Medsize,19,7,2
3,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate,Call Center,Medsize,20,3,1
4,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal,Agent,Medsize,3,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,Basic,Bachelor,Employed,M,Urban,Married,Personal,Web,Medsize,10,6,2
9130,California,Yes,Extended,College,Employed,F,Suburban,Divorced,Corporate,Branch,Medsize,12,6,2
9131,California,No,Extended,Bachelor,Unemployed,M,Suburban,Single,Corporate,Branch,Medsize,6,5,2
9132,California,No,Extended,College,Employed,M,Suburban,Married,Personal,Branch,Large,3,5,2
9133,California,No,Extended,College,Unemployed,M,Suburban,Single,Corporate,Call Center,Medsize,14,7,2

In [4]:
categorical.dtypes

state               object
response            object
coverage            object
education           object
employmentstatus    object
gender              object
location_code       object
marital_status      object
policy              object
sales_channel       object
vehicle_size        object
Day                  int64
Week                 int64
Month                int64
dtype: object

In [5]:
categorical["Day"]=categorical["Day"].astype(np.object)
categorical["Month"]=categorical["Month"].astype(np.object)
categorical["Week"]=categorical["Week"].astype(np.object)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_8800\3192421962.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  categorical["Day"]=categorical["Day"].astype(np.object)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_8800\3192421962.py:2: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  categorical["Month"]=categorical["Month"].astype(np.object)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_8800\3192421962.py:3: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  categorical["Week"]=categorical["Week"].astype(np.object)

In [6]:
categorical.dtypes

state               object
response            object
coverage            object
education           object
employmentstatus    object
gender              object
location_code       object
marital_status      object
policy              object
sales_channel       object
vehicle_size        object
Day                 object
Week                object
Month               object
dtype: object

Concatenate Numerical and Categorical dataframes into one dataframe called data.

In [7]:
data = pd.concat([numerical, categorical], axis=1)

In [8]:
data

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,state,response,...,employmentstatus,gender,location_code,marital_status,policy,sales_channel,vehicle_size,Day,Week,Month
0,2763.519279,56274,69,32,5,0,1,384.811147,Washington,No,...,Employed,F,Suburban,Married,Corporate,Agent,Medsize,24,8,2
1,6979.535903,0,94,13,42,0,8,1131.464935,Arizona,No,...,Unemployed,F,Suburban,Single,Personal,Agent,Medsize,31,5,1
2,12887.431650,48767,108,18,38,0,2,566.472247,Nevada,No,...,Employed,F,Suburban,Married,Personal,Agent,Medsize,19,7,2
3,7645.861827,0,106,18,65,0,7,529.881344,California,No,...,Unemployed,M,Suburban,Married,Corporate,Call Center,Medsize,20,3,1
4,2813.692575,43836,73,12,44,0,1,138.130879,Washington,No,...,Employed,M,Rural,Single,Personal,Agent,Medsize,3,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2,198.234764,California,No,...,Employed,M,Urban,Married,Personal,Web,Medsize,10,6,2
9130,3096.511217,21604,79,14,28,0,1,379.200000,California,Yes,...,Employed,F,Suburban,Divorced,Corporate,Branch,Medsize,12,6,2
9131,8163.890428,0,85,9,37,3,2,790.784983,California,No,...,Unemployed,M,Suburban,Single,Corporate,Branch,Medsize,6,5,2
9132,7524.442436,21941,96,34,3,0,3,691.200000,California,No,...,Employed,M,Suburban,Married,Personal,Branch,Large,3,5,2
9133,2611.836866,0,77,3,90,0,1,369.600000,California,No,...,Unemployed,M,Suburban,Single,Corporate,Call Center,Medsize,14,7,2

1.In this final lab, we will model our data. Import sklearn train_test_split and separate the data.

In [9]:
from sklearn.model_selection import train_test_split
y = data['total_claim_amount'] 
X = data.drop(['total_claim_amount'], axis=1) 
X_num = X.select_dtypes(include = np.number)
X_cat = X.select_dtypes(include = object)

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

2.Separate X_train and X_test into numerical and categorical (X_train_cat , X_train_num , X_test_cat , X_test_num)

In [11]:
X_train_num = X_train.select_dtypes(include = np.number)
X_test_num  = X_test.select_dtypes(include = np.number)
X_train_cat = X_train.select_dtypes(include = object)
X_test_cat  = X_test.select_dtypes(include = object)

3.Use X_train_num to fit scalers. Transform BOTH X_train_num and X_test_num.

In [12]:
from sklearn.preprocessing import MinMaxScaler

transformer = MinMaxScaler().fit(X_train_num) 
X_train_scaled_arr = transformer.transform(X_train_num)
X_train_scaled = pd.DataFrame(X_train_scaled_arr, columns=X_train_num.columns)
X_train_scaled.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,0.035258,0.511537,0.000000,0.800000,0.323232,0.2,1.0
1,0.011416,0.000000,0.075949,0.857143,0.252525,0.0,0.0
2,0.012464,0.811124,0.054852,0.200000,0.676768,0.0,0.0
3,0.039793,0.722777,0.012658,0.057143,0.666667,0.0,1.0
4,0.008748,0.547474,0.021097,0.085714,0.868687,0.0,0.0

In [13]:
X_train_scaled.isna().sum()

customer_lifetime_value          0
income                           0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
dtype: int64

In [14]:
from sklearn.preprocessing import MinMaxScaler

transformer = MinMaxScaler().fit(X_test_num) 
X_test_scaled_arr = transformer.transform(X_test_num)
X_test_scaled = pd.DataFrame(X_test_scaled_arr, columns=X_test_num.columns)
X_test_scaled.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,0.032581,0.746148,0.199115,0.028571,0.494949,0.0,0.000
1,0.050691,0.232273,0.044248,0.200000,0.101010,0.0,0.375
2,0.026770,0.949410,0.146018,0.085714,0.383838,0.0,0.000
3,0.084346,0.771839,0.168142,0.085714,0.272727,0.2,0.500
4,0.084582,0.237785,0.035398,0.514286,0.141414,0.0,0.125

In [15]:
X_test_scaled.isna().sum()

customer_lifetime_value          0
income                           0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
dtype: int64

4.Encode the categorical variables X_train_cat and X_test_cat (See the hint below for encoding categorical data!!!)

In [16]:
X_cat

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy,sales_channel,vehicle_size,Day,Week,Month
0,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate,Agent,Medsize,24,8,2
1,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal,Agent,Medsize,31,5,1
2,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal,Agent,Medsize,19,7,2
3,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate,Call Center,Medsize,20,3,1
4,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal,Agent,Medsize,3,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,Basic,Bachelor,Employed,M,Urban,Married,Personal,Web,Medsize,10,6,2
9130,California,Yes,Extended,College,Employed,F,Suburban,Divorced,Corporate,Branch,Medsize,12,6,2
9131,California,No,Extended,Bachelor,Unemployed,M,Suburban,Single,Corporate,Branch,Medsize,6,5,2
9132,California,No,Extended,College,Employed,M,Suburban,Married,Personal,Branch,Large,3,5,2
9133,California,No,Extended,College,Unemployed,M,Suburban,Single,Corporate,Call Center,Medsize,14,7,2

In [17]:
X_cat.isna().sum()

state               0
response            0
coverage            0
education           0
employmentstatus    0
gender              0
location_code       0
marital_status      0
policy              0
sales_channel       0
vehicle_size        0
Day                 0
Week                0
Month               0
dtype: int64

In [18]:
X_train_cat1 = X_train_cat[['coverage', 'employmentstatus', 'location_code', 'vehicle_size', 'education']]
X_test_cat1 = X_test_cat[['coverage', 'employmentstatus', 'location_code', 'vehicle_size', 'education']]
X_train_cat2 = X_train_cat[['state','marital_status', 'policy', 'sales_channel', 'response','gender','Week','Day','Month']]
X_test_cat2 = X_test_cat[['state','marital_status', 'policy', 'sales_channel', 'response','gender','Week','Day','Month']]

In [19]:
X_train_catordinal = pd.get_dummies(X_train_cat1)
X_test_catordinal = pd.get_dummies(X_test_cat1)

In [20]:
X_test_catordinal.isna().sum()

coverage_Basic                    0
coverage_Extended                 0
coverage_Premium                  0
employmentstatus_Disabled         0
employmentstatus_Employed         0
employmentstatus_Medical Leave    0
employmentstatus_Retired          0
employmentstatus_Unemployed       0
location_code_Rural               0
location_code_Suburban            0
location_code_Urban               0
vehicle_size_Large                0
vehicle_size_Medsize              0
vehicle_size_Small                0
education_Bachelor                0
education_College                 0
education_Doctor                  0
education_High School or Below    0
education_Master                  0
dtype: int64

In [21]:
X_train_catordinal.isna().sum()

coverage_Basic                    0
coverage_Extended                 0
coverage_Premium                  0
employmentstatus_Disabled         0
employmentstatus_Employed         0
employmentstatus_Medical Leave    0
employmentstatus_Retired          0
employmentstatus_Unemployed       0
location_code_Rural               0
location_code_Suburban            0
location_code_Urban               0
vehicle_size_Large                0
vehicle_size_Medsize              0
vehicle_size_Small                0
education_Bachelor                0
education_College                 0
education_Doctor                  0
education_High School or Below    0
education_Master                  0
dtype: int64

In [22]:
X_test_catordinal.isna().sum()

coverage_Basic                    0
coverage_Extended                 0
coverage_Premium                  0
employmentstatus_Disabled         0
employmentstatus_Employed         0
employmentstatus_Medical Leave    0
employmentstatus_Retired          0
employmentstatus_Unemployed       0
location_code_Rural               0
location_code_Suburban            0
location_code_Urban               0
vehicle_size_Large                0
vehicle_size_Medsize              0
vehicle_size_Small                0
education_Bachelor                0
education_College                 0
education_Doctor                  0
education_High School or Below    0
education_Master                  0
dtype: int64

In [23]:

from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(drop='first').fit(X_train_cat2)
encoded_cat = encoder.transform(X_train_cat2).toarray()
cols = encoder.get_feature_names_out(input_features=X_train_cat2.columns)

onehot_encoded_train = pd.DataFrame(encoded_cat, columns=cols)
onehot_encoded_train.head()

,state_California,state_Nevada,state_Oregon,state_Washington,marital_status_Married,marital_status_Single,policy_Personal,policy_Special,sales_channel_Branch,sales_channel_Call Center,...,Day_23,Day_24,Day_25,Day_26,Day_27,Day_28,Day_29,Day_30,Day_31,Month_2
0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(drop='first').fit(X_test_cat2)
encoded_cat = encoder.transform(X_test_cat2).toarray()
cols = encoder.get_feature_names_out(input_features=X_test_cat2.columns)

onehot_encoded_test = pd.DataFrame(encoded_cat, columns=cols)
onehot_encoded_test.head()

,state_California,state_Nevada,state_Oregon,state_Washington,marital_status_Married,marital_status_Single,policy_Personal,policy_Special,sales_channel_Branch,sales_channel_Call Center,...,Day_23,Day_24,Day_25,Day_26,Day_27,Day_28,Day_29,Day_30,Day_31,Month_2
0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

5.Since the model will only accept numerical data, check and make sure that every column is numerical, if some are not, change it using encoding.

In [25]:
X_train_catordinal = X_train_catordinal.reset_index(drop=True)
onehot_encoded_train = onehot_encoded_train.reset_index(drop=True)

In [26]:
data1 = pd.concat([X_train_catordinal, onehot_encoded_train], axis=1)

In [27]:
X_test_catordinal = X_test_catordinal.reset_index(drop=True)
onehot_encoded_test = onehot_encoded_test.reset_index(drop=True)

In [28]:
data2 = pd.concat([X_test_catordinal, onehot_encoded_test], axis=1)

In [29]:
X_num.dtypes

customer_lifetime_value          float64
income                             int64
monthly_premium_auto               int64
months_since_last_claim            int64
months_since_policy_inception      int64
number_of_open_complaints          int64
number_of_policies                 int64
dtype: object

6.Try a simple linear regression with all the data to see whether we are getting good results.

In [30]:
X_train_scaled = X_train_scaled.reset_index(drop=True)
X_test_scaled = X_test_scaled.reset_index(drop=True)

In [31]:
X_train_scaled_encoded = pd.concat([X_train_scaled, data1], axis=1)

In [32]:
X_train_scaled_encoded.shape

(7307, 79)

In [33]:
X_test_scaled_encoded = pd.concat([X_test_scaled, data2], axis=1)

In [34]:
X_train_scaled_encoded.isna().sum()

customer_lifetime_value          0
income                           0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
                                ..
Day_28                           0
Day_29                           0
Day_30                           0
Day_31                           0
Month_2                          0
Length: 79, dtype: int64

In [35]:
X_test_scaled_encoded.isna().sum()

customer_lifetime_value          0
income                           0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
                                ..
Day_28                           0
Day_29                           0
Day_30                           0
Day_31                           0
Month_2                          0
Length: 79, dtype: int64

In [36]:
#model for train

In [52]:
from sklearn.linear_model import LogisticRegression
from sklearn import linear_model
lm = linear_model.LinearRegression()
lm.fit(X_train_scaled_encoded,y_train)

LinearRegression()

In [53]:
from sklearn.metrics import r2_score
predictions = lm.predict(X_train_scaled_encoded)
r2_score(y_train, predictions)

0.7742477413562829

In [54]:
predictions

array([199.65625, 576.375  , 389.71875, ..., 847.71875, 780.65625,
       311.03125])

In [55]:
predictions_test = lm.predict(X_train_scaled_encoded)
r2_score(y_train, predictions_test)

0.7742477413562829

In [56]:
#model for test

In [57]:
lm = linear_model.LinearRegression()
lm.fit(X_test_scaled_encoded,y_test)

LinearRegression()

In [58]:
predictions = lm.predict(X_test_scaled_encoded)
r2_score(y_test, predictions)

0.772920076386722

In [59]:
predictions

array([213. , 431.5, 455.5, ..., 207. , 549. , 676. ])

In [60]:
predictions_test = lm.predict(X_test_scaled_encoded)
r2_score(y_test, predictions_test)

0.772920076386722

7.Great! Now define a function that takes a list of models and train (and tests) them so we can try a lot of them without repeating code.

8.Use the function to check LinearRegressor and KNeighborsRegressor.

In [67]:
from sklearn.neighbors import KNeighborsRegressor
def checkknnregressor(n):
    
    KNN = KNeighborsRegressor(n_neighbors = n)
    KNN.fit(X_train_scaled_encoded, y_train)

    score = KNN.score(X_train_scaled_encoded, y_train)
    
    print("Train score is ", score)
    
    score_test = KNN.score(X_test_scaled_encoded, y_test)
    print("Test score is ", score_test)

In [72]:
checkknnregressor(10)

Train score is  0.5788365351405705
Test score is  0.5187530563735865

In [73]:
checkknnregressor(50)

Train score is  0.49814842570818196
Test score is  0.505626841031604

In [74]:
checkknnregressor(100)

Train score is  0.4761169775739015
Test score is  0.4928249271014874

In [77]:
checkknnregressor(7306)

Train score is  0.00012012595430366257
Test score is  -0.0028320398946755088

In [98]:
from sklearn import linear_model
from sklearn.metrics import r2_score

def checklinear_model():
    LR = linear_model.LinearRegression()
    LR.fit(X_train_scaled_encoded, y_train)
    LR.fit(X_test_scaled_encoded, y_test)
    
    predictions_train = LR.predict(X_train_scaled_encoded)
    predictions_test = LR.predict(X_test_scaled_encoded)
    
    score_train = r2_score(predictions_train, y_train)
    print("Train score is ", score_train)
    score_test = r2_score(predictions_test, y_test)
    print("Test score is ", score_test)

In [99]:
checklinear_model()

Train score is  0.6605771036924977
Test score is  0.705994428719317

9.You can check also the MLPRegressor for this task!

In [80]:
from sklearn.neural_network import MLPRegressor
def checkmlpregressor(n):
    
    regr = MLPRegressor(max_iter = n).fit(X_train_scaled_encoded, y_train)

    score_test = regr.score(X_test_scaled_encoded, y_test)
    display("Test score ", score_test)

    score = regr.score(X_train_scaled_encoded, y_train)
    display("Train score ", score)

In [81]:
checkmlpregressor(400)

C:\Users\LENOVO\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:684: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (400) reached and the optimization hasn't converged yet.
  warnings.warn(

'Test score '

0.8077290310856742

'Train score '

0.8409657662312818

10.Check and discuss the results.

R2 is above 0.75 so the model is optimal to make predictions.